/**
 *  COLOR1  -- blank space
 *  COLOR2  -- main font color
 *  COLOR3  -- 
 *
 */


/** for following divs,
 * [body [frame[pictures][svg][content]]]
 */
body, html {
    font-family: "Source Code Pro", "Courier New", "Open Sans", sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}
h1,h2,h3,h4 {
    font-family: Lora, Georgia, serif;
}

body {
    background: repeating-linear-gradient(
    45deg,
    #88c0d0,
    #88c0d0 10px,
    #c0c0c0 10px,
    #c0c0c0 20px
    );
}

.content {
    animation: slide_into 1.5s forwards;
    overflow-x: hidden;
    will-change: transform;
    background-image: linear-gradient(to right, #88887755, #88887788);
    height: 100%;
    width: 40em;
    min-width: 60%;
    margin: 0;
    margin-right: auto;
    padding: 1em;
    padding-top: 4em;
}

footer {
    font-size: x-small;
    padding: 1em;
    padding-top:4em;
}

@keyframes slide_into {
    from {transform: translateX(-120%);}
    to {transform: translateX(0%);}
}
